.custom-button {
    /* background-color: #03755B; */
    background-color: #594545 ;
    color: white;
    /* border-color: #03755B; */
    border-color: #594545 ;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 0px 5px 10px #888888;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 20px #888888;
    background-color: #BD7E49;
    border-color: #BD7E49;
    /* background-color: #F1DEC9 ;
    border-color: #F1DEC9 ; */
}

.custom-button:active {
    transform: translateY(-1px);
    box-shadow: 0px 2px 5px #888888;
}