.HomeTopDiv-image {
  height: 300px;
  width: 300px;
}

.HomeTopDiv-logo {
  margin-top: 100px;
}

.HomeTopDiv-details {
  margin-top: 180px;
  border-radius: 5px;
}

.HomeTopDiv-p { 
  font-weight: 600;
  font-size: 20px;
  padding: 30px;
  color: #F1DEC9;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.makeAppointDiv {
  padding-top: 80px;
}

.makeAppointA {
  color: #F1DEC9;
  background-color: #594545;
  padding: 10px;
  width: 20vw;
  border: 0px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.makeAppointA:hover {
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px #F1DEC9;
  background-color: #F1DEC9;
  color: #594545;
  font-weight: 600;
  transition: transform 2.05s ease-in-out;
  -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition:transform 1.05s ease-in-out;
  -ms-transition:transform 1.05s ease-in-out;
}

/* new navigation css */
.bg-img {
  /* The image used */
  /* background-image: url("../../assets/home-bg.jpg"); */
  background-image: url("../../assets/home-bg-image.png");

  /* Add the blur effect */
  /* filter: blur(4px); */
  /* -webkit-filter: blur(8px); */
  
  /* min-height: 380px; */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* The navbar */
.topnav {
  overflow: hidden;
  /* background-color: #333; */
}

@media (max-width: 991px) {
  .HomeTopDiv-image {
    height: 200px;
    width: 200px;
  }

  .HomeTopDiv-logo {
    margin-top: 50px;
  }

  .HomeTopDiv-details {
    margin-top: 0px;
    padding: 50px;
    padding-bottom: 30px;
  }

  .HomeTopDiv-p { 
    color: #594545;
  }

  .makeAppointDiv {
    padding-top: 0px;
  }

  .makeAppointA {
    width: 50vw;
   }
}
 
