/* new navigation css */
.bg-img {
  /* The image used */
  /* background-image: url("../../assets/home-bg.jpg"); */
  background-image: url("../../assets/home-bg-image.png");
 
  /* min-height: 380px; */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

.homeTopMainDiv {
  height: 80vh;
  margin-bottom: 73px;
  background-color: rgba(255, 255, 255, 0.6);
}

.HomeTopDiv-image {
  height: 300px;
  width: 300px;
}

.HomeTopDiv-logo {
  margin-top: 100px;
}

.HomeTopDiv-details {
  margin-top: 180px;
  border-radius: 5px;
}

.HomeTopDiv-p { 
  font-weight: 600;
  font-size: 20px;
  padding: 30px;
  color: #594545;
  font-style: italic;
}

.padding-top-extra {
  padding-top: 80px;
}

.home-make-appointment-anchor {
  color: #F1DEC9;
  background-color: #594545;
  padding: 10px;
  width: 20vw;
  border: 0px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
}

.home-make-appointment-anchor:hover {
  text-decoration: none;
  transform: translateY(-3px);
  box-shadow: 0px 8px 20px #F1DEC9;
  background-color: #F1DEC9;
  color: #594545;
  border-color: #594545;
  font-weight: 600;
  transition: transform 2.05s ease-in-out;
  -webkit-transition: transform 1.05s ease-in-out;
  -moz-transition:transform 1.05s ease-in-out;
  -ms-transition:transform 1.05s ease-in-out;
}

.home-make-appointment-anchor2:hover {
  border-color: 2px solid #594545;
}

.textColor {
  color: #594545;
}

.sixthRefFirstDiv {
  /* background-image: url("../../assets/home-bg-image.png"); */
  background-image: url("../../assets/home/make-an-appointment.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sixthRefH1 {
  color: #594545;
  font-size: 50px;
  padding-top: 160px;
}

.home-h1 {
  color: #594545;
  font-size: 50px;
}

.promotionBtn {
  background-color: #594545;
  color: #F1DEC9;
  border-color: #594545;
}

.promotionBtn:hover {
  background-color: #F1DEC9;
  color: #594545;
  border-color: #594545;
}

.promoMainDiv {
  background-color: #F1DEC9;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.paymentIconImg {
  height: 100px;
  width: 100px;
}

.sixthRefSecondDiv {
  background-color: rgba(255, 255, 255, 0.6);
  height: 450px;
}

.sixthRefThirdDiv {
  display: flex;
  justify-content: center;
}

.homeServicesMainDiv {
  background-color: #F1DEC9;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.service-learn-more-button {
  background-color: #594545;
  color: #F1DEC9;
  border-color: #594545;
}

.service-learn-more-anchor {
  text-decoration: none;
  color: #F1DEC9;
}

.service-learn-more-button:hover {
  background-color: #F1DEC9;
  color: #594545;
  border-color: #594545;
}

.service-learn-more-anchor:hover {
  text-decoration: none;
  color: #594545;
}

.feedbackSection {
  background-color: #F1DEC9;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.fixed-height {
  max-height: 400px;
}

.paymentLogoDiv {
  padding-top: 20px;
}

.home-service-card {
  /* border: 2px solid red; */
  color: #594545;
  background-color: #F1DEC9;
  width: 100%;
  height: 12vw;
}

.home-service-card-image {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

@media (max-width: 991px) {
  .HomeTopDiv-image {
    height: 200px;
    width: 200px;
  }

  .HomeTopDiv-logo {
    margin-top: 50px;
  }

  .HomeTopDiv-details {
    margin-top: 0px;
    padding: 50px;
    padding-bottom: 30px;
  }

  .HomeTopDiv-p { 
    color: #594545;
  }

  .home-make-appointment-div {
    padding-top: 0px;
  }

  .home-make-appointment-anchor {
    width: 50vw;
  }

  .promoMainDiv {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .sixthRefH1 {
    font-size: 25px;
    padding-top: 200px;
    margin:auto;
    line-height:51px;
    vertical-align:middle;
  }

  .topPadding {
    padding-top: 20px;
  }

  .sixthRefThirdDiv {
    color: #594545;
    text-align:center;
  }

  .paddingTop {
    padding-top: 20px;
  }

  .home-h1 {
    font-size: 30px;
  }

  .paymentLogoDiv {
    padding-top: 40px;
  }

  .paymentIconImg {
    height: 75px;
    width: 75px;
  }

  .home-service-card {
    height: 40vw;
  }
  
  .home-service-card-image {
    height: 50vw;
    object-fit: cover;
  }
}
 
